@import 'tailwindcss';

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #fafafa;
  --text-color-dark: #f5f5f5;
  --text-color-white: #24282f;
  --text-color-white: #2b2e34;
  --text-color-2: #bdbdbd;

  /* Neutral */
  --gray-color-1: #f5f5f5;
  --gray-color-2: #bdbdbd;
  --white-color: #ffffff;

  /* Main Color Palette */
  --main-color-3: #6b76ff;
  --main-color-2: #a5aeff;
  --main-color-1: #c8e4fe;

  /* Point Colors */
  --point-color-2: #ff4646;
  --point-color-1: #ff8585;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* 애니매이션 */
  --animate-up-down-slider: up-down-slider 10s linear infinite;

  @keyframes up-down-slider {

    0%,
    19% {
      transform: translateY(0);
    }

    20%,
    39% {
      transform: translateY(-30px);
    }

    40%,
    59% {
      transform: translateY(-60px);
    }

    60%,
    79% {
      transform: translateY(-90px);
    }

    80%,
    99% {
      transform: translateY(-120px);
    }

    100% {
      transform: translateY(-150px);
    }
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'SUITE-Regular', sans-serif;
  color: var(--text-color-1);
}