@import 'tailwindcss';

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #fafafa;
  --background-full: #ffffff;
  --white-color: #ffffff;
  --text-color: #2b2e34;

  /* Neutral */
  --gray-color-1: #f5f5f5;
  --gray-color-2: #bdbdbd;
  --white-color: #ffffff;

  /* Main Color Palette */
  --main-color-3: #6b76ff;
  --main-color-2: #a5aeff;
  --main-color-1: #c8e4fe;

  /* Point Colors */
  --point-color-2: #ff4646;
  --point-color-1: #ff8585;

  /* Header Color */
  --header-color: #6b76ff;

  /* Shadow Color */
  --shadow-color: oklab(from #d9d9d9 l a b / 25%);
}

@theme {
  --shadow-md: 0 0px 4px 0 var(--shadow-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* 애니매이션 */
  --animate-up-down-slider: up-down-slider 10s linear infinite;

  @keyframes up-down-slider {
    0%,
    19% {
      transform: translateY(0);
    }

    20%,
    39% {
      transform: translateY(-30px);
    }

    40%,
    59% {
      transform: translateY(-60px);
    }

    60%,
    79% {
      transform: translateY(-90px);
    }

    80%,
    99% {
      transform: translateY(-120px);
    }

    100% {
      transform: translateY(-150px);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #24282f;
    --background-full: #202020;
    --white-color: #2e3746;
    --header-color: #2e3746;

    /* Main Color Palette */
    /* --main-color-3: #6b76ff;
    --main-color-2: #a5aeff;
    --main-color-1: #c8e4fe; */

    /* Point Colors */
    /* --point-color-2: #ff4646;
    --point-color-1: #ff8585; */

    /* Text Color */
    --text-color: #f5f5f5;

    /* Shadow Color */
    --shadow-color: oklab(from #f5f5f5 l a b / 25%);
  }
}

body {
  font-family: 'SUITE-Regular', sans-serif;
  color: var(--text-color);
}

@keyframes drawUnderline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-draw-underline {
  animation: drawUnderline 0.4s ease-out forwards;
}
.swiper-button-prev,
.swiper-button-next {
  padding: 15px 5px;
  border-radius: 50px;
  color: var(--main-color-3) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: 1000 !important;
}
